In [ ]:
#Creating panda series
import pandas as pd
a=[1,7.2,2]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [ ]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
myvar["y"]

7

In [ ]:
#dictionaries
car={"brand":"ford","model":"mustang","year":"1964"}
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [ ]:
s1=pd.Series([-3,-1,1,3,5,'gaurav',7,3])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6         7
7         3
dtype: object

In [ ]:
s1[:2]
print(s1[[2,1,0]])
print(s1[2])

2     1
1    -1
0    -3
dtype: object
1

In [ ]:
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
#Creating series from dictionary
Calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(Calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])
#dataframe
data={"Calories":[420,380,390],"duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

1
   Calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
#creating dataframe with customized index
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
print(df.loc["rank2"])

Name    Jack
Age       34
Name: rank2, dtype: object

In [ ]:
df.info()
df.dtypes
df.columns
df.size
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, rank1 to rank4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 268.0+ bytes

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000

In [ ]:
#To add a new column
df['ID']=[10,10,20,30]
print(df)

        Name  Age  ID
rank1    Tom   28  10
rank2   Jack   34  10
rank3  Steve   29  20
rank4  Ricky   42  30

In [ ]:
#to check unique values in a column
df['ID'].unique()
#To check frequency of a column
df['ID'].value_counts()

10    2
20    1
30    1
Name: ID, dtype: int64